header
{
	width: 50;
	text-align: center;
	font: 500% sans-serif;
}

ul 
{
  list-style:none;
  text-align: left;
  font: 150% sans-serif;
}

ol
{
  list-style:none;
  text-align: left;
  font: 150% sans-serif;
}
figure
{
	width: 500;
	display:block;
	margin:500,500;
}

figcaption 
{
text-align: left;
}