header
{
	width: 50;
	text-align: center;
	font: 500% sans-serif;
}

ul 
{
  text-align: left;
  font: 150% sans-serif;.columnas{
  column-count: 5; /* número de columnas */
  column-gap: 100px; /* ancho de columnas */
  -moz-column-count: 5; /* Firefox */
  column-rule: 5px outset #999999; /* separación de columnas */
}

ol
{
  list-style:none;
  text-align: left;
  font: 150% sans-serif;
}
figure
{
	width: 500;
	display:block;
	margin:500,500;
}

figcaption 
{
text-align: left;
}